<div class="mb-2 logo-section flex p-2 items-center justify-content-between">
  <div class="px-2 title-section flex items-center align-items-center justify-content-between gap-5">
  <img src="assets/cslr-logo 1.svg" alt="Complete Solar" class="logo h-10" />
 <div class="main-title">GOALS SYSTEM</div>
  </div>

  <div class="flex items-center justify-end gap-4 align-items-center">
  
    <!-- Settings Button with Menu -->
    <p-menu [model]="settingsMenu" [popup]="true" #menu></p-menu>
    <div class="flex align-items-center gap-3">
      <div class="cursor-pointer" (click)="goToDashboard()">Dashboard</div>
      <div class="cursor-pointer" (click)="goToGoals()">Goals</div>
      <button
        (click)="menu.toggle($event)"
        class="settings-button"
      >
        <i class="pi pi-cog"></i>
        Settings
        <i class="pi pi-chevron-down"></i>
      </button>
    </div>
    
    
    
    <!-- Icon + Full Date on same line -->
    <div class="flex items-center gap-1 align-items-center">
      <img
        src="assets/solar_calendar-linear.svg"
        alt="Calendar Icon"
        class="calendar-icon"
      />
      <span class="date-text white-space-nowrap" style="font-size: 12px;">
        {{ today | date : "MM-dd-yyyy" }}
      </span>
    </div>

    <!-- WW Dropdown -->
    <p-select
      [options]="[{ label: 'Logout', value: 'logout' }]"
      [filter]="false"
      [style]="{ width: '6rem' }"
      placeholder="WW{{ getCurrentWeekNumber() }}"
      appendTo="body"
      (onChange)="onLogoutChange($event)"
      [showClear]="false"
      class="settingSelect"
    >
      <ng-template let-item pTemplate="item">
        <div class="text-red-500 font-semibold">
          {{ item.label }}
        </div>
      </ng-template>
    </p-select>
  </div>
</div>