<!-- <div class="mb-2 logo-section flex pl-4 p-2 items-center justify-content-between">
  <img src="assets/SunPower.png" alt="Complete Solar" class="logo h-10" />

  <div class="px-2 title-section flex items-center align-items-center justify-content-between gap-5">
    <div class="main-title">GOALS SYSTEM</div>
  </div>

  <div class="flex items-center justify-end gap-4 align-items-center">
    <div class="flex align-items-center gap-3">
      <div
        class="cursor-pointer"
        *ngIf="goalService.userData?.access?.includes('dashboard')"
        [ngClass]="{ 'active-background': currentRoute === '/goals-metrics' }"
        (click)="goToDashboard()"
      >
        Dashboard
      </div>
      <div
        class="cursor-pointer"
        [ngClass]="{ 'active-background': currentRoute === '/goals' }"
        (click)="goToGoals()"
      >
        Goals
      </div>

      <div
        class="cursor-pointer"
        *ngIf="goalService.userData?.access?.includes('goals')"
        [ngClass]="{ 'active-background': currentRoute === '/goals' }"
        (click)="goToGoals()"
      >
        Goals
      </div>

      <div class="relative" *ngIf="goalService.userData?.access?.length > 0">
        <button
        (click)="toggleDropdown()"
        class="settings-button flex items-center"
        >
          Settings
          <i class="pi pi-chevron-down ml-2"></i>
        </button>

        <div
          *ngIf="showSettings"
          class="absolute right-0 mt-2 py-2 w-48 bg-white border border-gray-200 rounded shadow-md z-2 shadow-1 border-round-md"
       style="width: max-content;" >
          <div
            class="px-4 py-2 cursor-pointer hover:bg-gray-100"
            *ngIf="goalService.userData?.access?.includes('priority')"
            (click)="onOptionChange({ value: '/priority' })"
          >
            Priority
          </div>
          <div
            class="px-4 py-2 cursor-pointer hover:bg-gray-100"
            *ngIf="goalService.userData?.access?.includes('status')"
            (click)="onOptionChange({ value: '/status' })"
          >
            Status
          </div>
          <div
            class="px-4 py-2 cursor-pointer hover:bg-gray-100"
            *ngIf="goalService.userData?.access?.includes('beginning_week')"
            (click)="onOptionChange({ value: '/beginning_week' })"
          >
            Beginning Week
          </div>
          <div
            class="px-4 py-2 cursor-pointer hover:bg-gray-100"
            *ngIf="goalService.userData?.access?.includes('end_week')"
            (click)="onOptionChange({ value: '/end_week' })"
          >
            End Week
          </div>
          <div
            class="px-4 py-2 cursor-pointer hover:bg-gray-100"
            *ngIf="goalService.userData?.access?.includes('delinquent')"
            (click)="onOptionChange({ value: '/delinquent' })"
          >
            Delinquent
          </div>
          <div
            class="px-4 py-2 cursor-pointer hover:bg-gray-100"
            *ngIf="goalService.userData?.access?.includes('project')"
            (click)="onOptionChange({ value: '/project' })"
          >
            Project
          </div>
          <div
            class="px-4 py-2 cursor-pointer hover:bg-gray-100"
            *ngIf="goalService.userData?.access?.includes('add_roles')"
            (click)="onOptionChange({ value: '/add_roles' })"
          >
            Roles
          </div>
          <div
            class="px-4 py-2 cursor-pointer hover:bg-gray-100"
            *ngIf="goalService.userData?.access?.includes('manage_role')"
            (click)="onOptionChange({ value: '/manage_role' })"
          >
            Manage Roles
          </div>
<div 
class="px-4 py-2 hover:bg-gray-100 flex items-center gap-2" 
*ngIf="goalService.userData?.access?.includes('enable_clone')"
(click)="$event.stopPropagation()">
  <p-checkbox
    inputId="cloneToggle"
    [(ngModel)]="isCloneEnabled"
    binary="true"
    (onChange)="onCloneToggleChange()"
  ></p-checkbox>
  <label for="cloneToggle">Enable Clone</label>
</div>
        </div>
      </div>
    </div>

    <div class="flex items-center gap-1 align-items-center">
      <img
        src="assets/solar_calendar-linear.svg"
        alt="Calendar Icon"
        class="calendar-icon"
      />
      <span class="date-text white-space-nowrap" style="font-size: 14px;">
        {{ today | date: 'MM-dd-yyyy' }}
      </span>
    </div>
    <p>WW{{ getCurrentWeekNumber() }}</p>
<p-button
(click)="menu.toggle($event)"
text
      size="small"
      severity="secondary"
      [label]="userInitials"
      icon="pi pi-check"
      iconPos="right"
      styleClass="text-xs"
      icon="pi pi-chevron-down"
>
</p-button>

<p-menu #menu [model]="logoutOptions" [popup]="true">
<ng-template let-item pTemplate="item">
  <a
    pRipple
    class="flex items-center p-menu-item-link font-semibold"
    [ngClass]="{ 'text-red-500': item.severity === 'danger' }"
  >
    <span class="ml-2">{{ item.label }}</span>
  </a>
</ng-template>
</p-menu>

  </div>
</div> -->

<div class="flex flex-column md:flex-row justify-content-between align-items-center m-2 px-4 py-3 border-round-lg surface-0  gap-4">
  <div class="flex justify-content-center md:justify-content-start align-items-center w-full md:w-auto">
    <img src="assets/logo.svg" alt="Complete Solar" class="w-10" />
  </div>

  <div class="text-center font-bold text-lg md:flex-1 hidden md:flex align-items-center justify-content-center">
    Goals System
  </div>

  <div class="flex flex-column md:flex-row align-items-center w-full md:w-auto gap-3 md:gap-4">
    <div class="flex justify-content-end md:hidden w-full">
      <button 
        class="p-button p-button-text p-button-rounded"
        (click)="toggleMenu()" 
        aria-label="Toggle Menu"
        type="button"
      >
        <i class="pi" [class.pi-bars]="!menuVisible" [class.pi-times]="menuVisible"></i>
      </button>
    </div>
    
@if (!isMobile || (isMobile && menuVisible)) {
  <ul class="list-none p-0 m-0 flex flex-column md:flex-row align-items-center gap-3">
    <li><div
      class="cursor-pointer"
      *ngIf="goalService.userData?.access?.includes('dashboard')"
      [ngClass]="{ 'active-background': currentRoute === '/goals-metrics' }"
      (click)="goToDashboard()"
    >
      Dashboard
    </div></li>
    <li><div
      class="cursor-pointer"
      [ngClass]="{ 'active-background': currentRoute === '/goals' }"
      (click)="goToGoals()"
    >
      Goals
    </div>
</li>
    <li> <div class="relative" *ngIf="goalService.userData?.access?.length > 0">
      <button
      (click)="toggleDropdown()"
      class="settings-button flex items-center"
      >
        Settings
        <i class="pi pi-chevron-down ml-2"></i>
      </button>

      <div
        *ngIf="showSettings"
        class="absolute right-0 mt-2 py-2 w-48 bg-white border border-gray-200 rounded shadow-md z-2 shadow-1 border-round-md"
     style="width: max-content;" >
        <div
          class="px-4 py-2 cursor-pointer hover:bg-gray-100"
          *ngIf="goalService.userData?.access?.includes('priority')"
          (click)="onOptionChange({ value: '/priority' })"
        >
          Priority
        </div>
        <div
          class="px-4 py-2 cursor-pointer hover:bg-gray-100"
          *ngIf="goalService.userData?.access?.includes('status')"
          (click)="onOptionChange({ value: '/status' })"
        >
          Status
        </div>
        <div
          class="px-4 py-2 cursor-pointer hover:bg-gray-100"
          *ngIf="goalService.userData?.access?.includes('beginning_week')"
          (click)="onOptionChange({ value: '/beginning_week' })"
        >
          Beginning Week
        </div>
        <div
          class="px-4 py-2 cursor-pointer hover:bg-gray-100"
          *ngIf="goalService.userData?.access?.includes('end_week')"
          (click)="onOptionChange({ value: '/end_week' })"
        >
          End Week
        </div>
        <div
          class="px-4 py-2 cursor-pointer hover:bg-gray-100"
          *ngIf="goalService.userData?.access?.includes('delinquent')"
          (click)="onOptionChange({ value: '/delinquent' })"
        >
          Delinquent
        </div>
        <div
          class="px-4 py-2 cursor-pointer hover:bg-gray-100"
          *ngIf="goalService.userData?.access?.includes('project')"
          (click)="onOptionChange({ value: '/project' })"
        >
          Project
        </div>
        <div
          class="px-4 py-2 cursor-pointer hover:bg-gray-100"
          *ngIf="goalService.userData?.access?.includes('add_roles')"
          (click)="onOptionChange({ value: '/add_roles' })"
        >
          Roles
        </div>
        <div
          class="px-4 py-2 cursor-pointer hover:bg-gray-100"
          *ngIf="goalService.userData?.access?.includes('manage_role')"
          (click)="onOptionChange({ value: '/manage_role' })"
        >
          Manage Roles
        </div>
<div 
class="px-4 py-2 hover:bg-gray-100 flex items-center gap-2" 
*ngIf="goalService.userData?.access?.includes('enable_clone')"
(click)="$event.stopPropagation()">
<p-checkbox
  inputId="cloneToggle"
  [(ngModel)]="isCloneEnabled"
  binary="true"
  (onChange)="onCloneToggleChange()"
></p-checkbox>
<label for="cloneToggle">Enable Clone</label>
</div>
      </div>
    </div></li>

  </ul>
}
    <div class="flex align-items-center gap-2 text-gray-600">
      <i class="pi pi-calendar"></i>
      <span class="text-sm">WW{{ getCurrentWeekNumber() }}</span>
    </div>
    <div class="flex align-items-center gap-2 text-gray-600">
      <i class="pi pi-calendar"></i>
      <span class="text-sm">03 June 2025</span>
    </div>


    <!-- <p-splitButton
    outlined 
    label="John Doe"
    icon="pi pi-user"
    [model]="userMenu"
    class="p-button-sm"
    (onClick)="splitButtonMenu.toggle($event)"
  ></p-splitButton> -->
  <p-button
(click)="menu.toggle($event)"
text
      size="small"
      severity="secondary"
      [label]="userInitials"
      icon="pi pi-check"
      iconPos="right"
      styleClass="text-xs"
      icon="pi pi-chevron-down"
>
</p-button>

<p-menu #menu [model]="logoutOptions" [popup]="true">
<ng-template let-item pTemplate="item">
  <a
    pRipple
    class="flex items-center p-menu-item-link font-semibold"
    [ngClass]="{ 'text-red-500': item.severity === 'danger' }"
  >
    <span class="ml-2">{{ item.label }}</span>
  </a>
</ng-template>
</p-menu>

  </div>
</div>
