<div class="mb-2 logo-section flex pl-4 p-2 items-center justify-content-between">
  <img src="assets/SunPower.png" alt="Complete Solar" class="logo h-10" />

  <div class="px-2 title-section flex items-center align-items-center justify-content-between gap-5">
    <div class="main-title">GOALS SYSTEM</div>
  </div>

  <div class="flex items-center justify-end gap-4 align-items-center">
    <div class="flex align-items-center gap-3">
      <div
        class="cursor-pointer"
        *ngIf="goalService.userData?.access?.includes('dashboard')"
        [ngClass]="{ 'active-background': currentRoute === '/goals-metrics' }"
        (click)="goToDashboard()"
      >
        Dashboard
      </div>
      <div
        class="cursor-pointer"
        [ngClass]="{ 'active-background': currentRoute === '/goals' }"
        (click)="goToGoals()"
      >
        Goals
      </div>

      <div
        class="cursor-pointer"
        *ngIf="goalService.userData?.access?.includes('goals')"
        [ngClass]="{ 'active-background': currentRoute === '/goals' }"
        (click)="goToGoals()"
      >
        Goals
      </div>

      <div class="relative" *ngIf="goalService.userData?.access?.length > 0">
        <button
        (click)="toggleDropdown()"
        class="settings-button flex items-center"
        >
          Settings
          <i class="pi pi-chevron-down ml-2"></i>
        </button>

        <div
          *ngIf="showSettings"
          class="absolute right-0 mt-2 py-2 w-48 bg-white border border-gray-200 rounded shadow-md z-2 shadow-1 border-round-md"
       style="width: max-content;" >
          <div
            class="px-4 py-2 cursor-pointer hover:bg-gray-100"
            *ngIf="goalService.userData?.access?.includes('priority')"
            (click)="onOptionChange({ value: '/priority' })"
          >
            Priority
          </div>
          <div
            class="px-4 py-2 cursor-pointer hover:bg-gray-100"
            *ngIf="goalService.userData?.access?.includes('status')"
            (click)="onOptionChange({ value: '/status' })"
          >
            Status
          </div>
          <div
            class="px-4 py-2 cursor-pointer hover:bg-gray-100"
            *ngIf="goalService.userData?.access?.includes('beginning_week')"
            (click)="onOptionChange({ value: '/beginning_week' })"
          >
            Beginning Week
          </div>
          <div
            class="px-4 py-2 cursor-pointer hover:bg-gray-100"
            *ngIf="goalService.userData?.access?.includes('end_week')"
            (click)="onOptionChange({ value: '/end_week' })"
          >
            End Week
          </div>
          <div
            class="px-4 py-2 cursor-pointer hover:bg-gray-100"
            *ngIf="goalService.userData?.access?.includes('delinquent')"
            (click)="onOptionChange({ value: '/delinquent' })"
          >
            Delinquent
          </div>
          <div
            class="px-4 py-2 cursor-pointer hover:bg-gray-100"
            *ngIf="goalService.userData?.access?.includes('project')"
            (click)="onOptionChange({ value: '/project' })"
          >
            Project
          </div>
          <div
            class="px-4 py-2 cursor-pointer hover:bg-gray-100"
            *ngIf="goalService.userData?.access?.includes('add_roles')"
            (click)="onOptionChange({ value: '/add_roles' })"
          >
            Roles
          </div>
          <div
            class="px-4 py-2 cursor-pointer hover:bg-gray-100"
            *ngIf="goalService.userData?.access?.includes('manage_role')"
            (click)="onOptionChange({ value: '/manage_role' })"
          >
            Manage Roles
          </div>
<div 
class="px-4 py-2 hover:bg-gray-100 flex items-center gap-2" 
*ngIf="goalService.userData?.access?.includes('enable_clone')"
(click)="$event.stopPropagation()">
  <p-checkbox
    inputId="cloneToggle"
    [(ngModel)]="isCloneEnabled"
    binary="true"
    (onChange)="onCloneToggleChange()"
  ></p-checkbox>
  <label for="cloneToggle">Enable Clone</label>
</div>
        </div>
      </div>
    </div>

    <div class="flex items-center gap-1 align-items-center">
      <img
        src="assets/solar_calendar-linear.svg"
        alt="Calendar Icon"
        class="calendar-icon"
      />
      <span class="date-text white-space-nowrap" style="font-size: 14px;">
        {{ today | date: 'MM-dd-yyyy' }}
      </span>
    </div>
    <p>WW{{ getCurrentWeekNumber() }}</p>
    <p-select
      [options]="[{ label: 'Logout', value: 'logout' }]"
      [filter]="false"
      placeholder="{{userInitials}}"
      appendTo="body"
      (onChange)="onLogoutChange($event)"
      [showClear]="false"
      class="settingSelect"
    >
      <ng-template let-item pTemplate="item">
        <div class="text-red-500 font-semibold">
          {{ item.label }}
        </div>
      </ng-template>
    </p-select>
  </div>
</div>
