.main-title {
  font-size: 18px;
  font-weight: 700;
  color: #2d2f2b;
  letter-spacing: 1px;
  margin-left: 80%;
  width: 100%;
  white-space: nowrap;

  }
.active-background {
  font-weight: bold;
  background-color: #e9ffd3;
  color: #437512;
  border-radius: 8px;
  padding: 8px 12px;
}

  .calendar-icon {
    vertical-align: middle;
    margin-bottom: 1px; /* optional fine-tuning */
  }
.settings-button{
  background: none;
  cursor: pointer;
  border:0px;
  font-size: 12px;
}
  .date {
    font-size: 10px;
    color: #777;
    margin-top: 2px;
  }

  .settingSelect {
    background: none !important;
    box-shadow: none;
    border: none;
    // width: 40% !important;
  }
  
  .settingSelect:hover {
    background: none !important;
  }
  
  .settings-icon {
    width: 19px;
    margin-right: 5px;
  }
  
  .settingSelect ::ng-deep.p-placeholder {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
 

