<div class="body">
  <div class="mb-2 logo-section flex p-2 items-center justify-content-between">
    <img src="assets/cslr-logo 1.svg" alt="Complete Solar" class="logo h-10" />

    <div
      class="px-2 title-section flex items-center align-items-center justify-content-between"
    >
      <div class="main-title">GOALS SYSTEM</div>
    </div>

    <div class="flex items-center justify-end gap-4 align-items-center">
      <!-- Icon + Full Date on same line -->
      <div class="flex items-center gap-1 align-items-center">
        <img
          src="assets/solar_calendar-linear.svg"
          alt="Calendar Icon"
          class="calendar-icon"
        />
        <span class="date-text white-space-nowrap">
          {{ today | date : "MM-dd-yyyy" }}
        </span>
      </div>

      <!-- WW Dropdown -->
      <p-select
        [options]="[{ label: 'Logout', value: 'logout' }]"
        [filter]="false"
        [style]="{ width: '6rem' }"
        placeholder="WW{{ getCurrentWeekNumber() }}"
        appendTo="body"
        (onChange)="onLogoutChange($event)"
        [showClear]="false"
        class="settingSelect"
      >
        <ng-template let-item pTemplate="item">
          <div class="text-red-500 font-semibold">
            {{ item.label }}
          </div>
        </ng-template>
      </p-select>
    </div>
  </div>

  <p-toast position="top-right"></p-toast>

  <!-- 
  <div class="mb-4 px-3 info-section">
   
    <div *ngIf="isLegendVisible" class="legend-content">
      <p class="my-1">
        <strong>Key:</strong> WHO=Owner of the goal, P=Priority, PROJ=Project,
        VP=Boss of Goal Owner, B=WW goal was given, E=WW goal is due
      </p>
      <p class="my-1">
        <strong>S =</strong> N=New, C=Complete, ND=Newly Delinquent,
        CD=Continuing Delinquent, R=Revised, K=Killed
      </p>
      <p class="my-1">
        <strong>PROJ TYPES:</strong> ADMN, AGE, AOP, AVL, BOM, CCC, COMM, COST,
        ENG, FAB, FIN, FUND, GEN, GM47, HR, INST, IT, OPEX, PURC, QUAL, RCCA,
        SALES, SOX, TJRS
      </p>
      <p class="my-1"><strong>D:</strong> Delinquent</p>
    </div>
  </div> -->

  <!-- <div
    class="mb-4 px-3 title-section flex items-center justify-content-between"
  > -->
  <!-- <div class="flex align-items-center gap-2">
      <i class="pi pi-calendar" style="font-size: 1.2rem"></i>
      <p-select
        class="selectdrop"
        [options]="years"
        [(ngModel)]="selectedYear"
        (onChange)="onYearChange()"
        optionLabel="name"
        placeholder="Select a Year"
      />
    </div> -->
  <!-- <div class="mb-4 px-3 title-section flex items-left"> -->
  <!-- Export section moved to the left -->
  <div class="mb-1 title-section flex items-center">
    <div>
      <button class="legend-toggle" (click)="toggleLegend()">
        <i
          class="fa"
          [ngClass]="isLegendVisible ? 'fa-arrow-down' : 'fa-arrow-right'"
        ></i>
        <span>Legend</span>
      </button>
      <div *ngIf="isLegendVisible" class="legend-content">
        <p class="my-1">
          <strong>Key:</strong> WHO=Owner of the goal, P=Priority, PROJ=Project,
          VP=Boss of Goal Owner, B=WW goal was given, E=WW goal is due,
          <strong>S =</strong> N=New, C=Complete, ND=Newly Delinquent,
          CD=Continuing Delinquent, R=Revised, K=Killed,
          <strong>D:</strong> Delinquent.
        </p>

        <p class="my-1">
          <strong>PROJ TYPES:</strong> ADMN, AGE, AOP, AVL, BOM, CCC, COMM,
          COST, ENG, FAB, FIN, FUND, GEN, GM47, HR, INST, IT, OPEX, PURC, QUAL,
          RCCA, SALES, SOX, TJRS
        </p>
      </div>
    </div>
    <!-- Right-aligned export section with ml-auto -->
    <div class="flex items-center gap-2 ml-auto align-items-center">
      <span class="white-space-nowrap">Export to</span>
      <p-select
        class="custom-select-width"
        [options]="exportOptions"
        [(ngModel)]="selectedExport"
        placeholder="Select"
        (onChange)="onExportChange($event.value)"
        optionLabel="label"
      ></p-select>
    </div>
  </div>

  <div class="table-container pr-3 pl-3">
    <p-table
      [value]="goal"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 20, 50]"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} goals"
      [paginatorPosition]="'bottom'"
      responsiveLayout="scroll"
      scrollable="true"
      [sortMode]="'multiple'"
      scrollDirection="both"
      scrollHeight="flex"
      [style]="{ width: '1800px', height: '500px' }"
      tableStyleClass="custom-goal-table"
    >
      <ng-template pTemplate="header">
        <tr>
          <!-- <th *ngFor="let col of columns" [pTooltip]="col.tooltip">
            <ng-container *ngIf="col.field !== 'action'; else noSort">
              <div [pSortableColumn]="col.field">
                <b>{{ col.header }}</b>
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </div>
            </ng-container>
            <ng-template #noSort>
              <b>{{ col.header }}</b>
            </ng-template>
          </th> -->
          <th *ngFor="let col of columns">
            <div class="flex items-center justify-between">
              <div
                class="test"
                [pSortableColumn]="col.field"
                *ngIf="col.field !== 'action'; else noSort"
              >
                <b>{{ col.header }}</b>
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </div>
              <ng-template #noSort>
                <b>{{ col.header }}</b>
              </ng-template>
          
              <p-columnFilter
                *ngIf="col.field !== 'action' && col.field !== 'gdb'"
                [field]="col.field"
                display="menu"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
                [showApplyButton]="false"
                [showClearButton]="false"
              >
                <ng-template pTemplate="filter" let-filter="filterCallback">
                  <p-multiSelect
                    [options]="getFilterOptions(col.field)"
                    [(ngModel)]="selectedFilters[col.field]"
                    (onChange)="onFilterChange(col.field)"
                    optionLabel="label"
                    display="chip"
                    [style]="{ width: '100%' }"
                    panelStyleClass="filter-dropdown-left"
                    [showToggleAll]="false"
                    [showClear]="false"
                    [maxSelectedLabels]="0"
                  ></p-multiSelect>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>
          
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
        <tr *ngIf="rowIndex === 0" class="add-row head first-data-row">
          <td>
            <p-select
              [options]="whoOptions"
              [(ngModel)]="newRow.who"
              (onChange)="onWhoSelected()"
              placeholder="Select WHO"
              optionLabel="label"
              optionValue="value"
              [pTooltip]="'Select WHO'"
              filter
            >
              <ng-template let-option pTemplate="item">
                {{ option.label }}
              </ng-template>
              <ng-template let-selectedOption pTemplate="selectedItem">
                {{ selectedOption?.value }}
              </ng-template>
            </p-select>
          </td>

          <td>
            <p-select
              [options]="priorityOptions"
              [(ngModel)]="newRow.p"
              placeholder="Select P"
              [pTooltip]="'Select P'"
              optionLabel="label"
              optionValue="value"
              filter
            ></p-select>
          </td>

          <td>
            <p-select
              [options]="projOptions"
              [(ngModel)]="newRow.proj"
              placeholder="Select PROJ"
              [pTooltip]="'Select Proj'"
              optionLabel="label"
              optionValue="value"
              filter
            ></p-select>
          </td>

          <td>
            <p-select
              [options]="vpOptions"
              [(ngModel)]="newRow.vp"
              placeholder="Select VP"
              optionLabel="label"
              optionValue="value"
              [pTooltip]="'Select VP'"
              filter
            >
              <ng-template let-option pTemplate="item">
                {{ option.label }}
              </ng-template>
              <ng-template let-selectedOption pTemplate="selectedItem">
                {{ selectedOption?.value }}
              </ng-template>
            </p-select>
          </td>

          <td>
            <p-select
              [options]="weekOptions"
              [(ngModel)]="newRow.b"
              placeholder="Select B"
              [pTooltip]="'Select B'"
              optionLabel="label"
              optionValue="value"
              filter
            ></p-select>
          </td>

          <td>
            <p-select
              [options]="priorityOptionseb"
              [(ngModel)]="newRow.e"
              placeholder="Select E"
              [pTooltip]="'Select E'"
              optionLabel="label"
              optionValue="value"
              filter
            ></p-select>
          </td>

          <td>
            <p-select
              [options]="priorityOptionseb"
              [(ngModel)]="newRow.d"
              placeholder="Select D"
              [pTooltip]="'Select D'"
              optionLabel="label"
              optionValue="value"
              filter
            ></p-select>
          </td>

          <td>
            <p-select
              [options]="statusOptions"
              [(ngModel)]="newRow.s"
              placeholder="Select S"
              [pTooltip]="'Select S'"
              optionLabel="label"
              optionValue="value"
              filter
            ></p-select>
          </td>

          <!-- <td>
            <input pInputText [(ngModel)]="newRow.fiscalyear" />
          </td> -->

          <!-- GOAL DELIVERABLE: action + description + memo -->
          <td>
            <div style="display: flex; gap: 6px; flex-wrap: wrap">
              <input
                pInputText
                [(ngModel)]="newRow.action"
                maxlength="13"
                style="flex: 1 1 30%"
                placeholder="Action"
              />
              <input
                pInputText
                [(ngModel)]="newRow.description"
                maxlength="70"
                style="flex: 1 1 40%"
                placeholder="Goal Description"
              />
              <input
                pInputText
                [(ngModel)]="newRow.memo"
                maxlength="17"
                style="flex: 1 1 25%"
                placeholder="Spec/memo"
              />
            </div>
          </td>

          <!-- ACTION column: save/add button -->
          <td class="align-content-center">
            <p-button
              icon="pi pi-plus"
              (click)="addGoal()"
              severity="success"
              size="small"
            ></p-button>
          </td>
        </tr>

        <!--  Actual data rows -->
        <tr *ngIf="goal.length">
          <td>
            <p-select
              [options]="whoOptions"
              [(ngModel)]="row.who"
              [disabled]="!row.isEditable"
              optionLabel="label"
              optionValue="value"
              filter
              [ngClass]="{ saved: !row.isEditable }"
              tooltipPosition="top"
            >
              <ng-template let-option pTemplate="item">
                {{ option.label }}
              </ng-template>
              <ng-template let-selectedOption pTemplate="selectedItem">
                {{
                  row.isEditable ? selectedOption?.label : selectedOption?.value
                }}
              </ng-template>
            </p-select>
          </td>

          <td>
            <p-select
              [options]="priorityOptions"
              [(ngModel)]="row.p"
              [disabled]="!row.isEditable"
              optionLabel="label"
              optionValue="value"
              filter
              [ngClass]="{ saved: !row.isEditable }"
              tooltipPosition="top"
            ></p-select>
          </td>

          <td>
            <p-select
              [options]="projOptions"
              [(ngModel)]="row.proj"
              [disabled]="!row.isEditable"
              optionLabel="label"
              optionValue="value"
              filter
              [ngClass]="{ saved: !row.isEditable }"
              tooltipPosition="top"
            ></p-select>
          </td>

          <td>
            <p-select
              [options]="vpOptions"
              [(ngModel)]="row.vp"
              [disabled]="!row.isEditable"
              optionLabel="label"
              optionValue="value"
              filter
              [ngClass]="{ saved: !row.isEditable }"
              tooltipPosition="top"
            >
              <ng-template let-option pTemplate="item">
                {{ option.label }}
              </ng-template>
              <ng-template let-selectedOption pTemplate="selectedItem">
                {{
                  row.isEditable ? selectedOption?.label : selectedOption?.value
                }}
              </ng-template>
            </p-select>
          </td>

          <td>
            <p-select
              [options]="weekOptions"
              [(ngModel)]="row.b"
              [disabled]="!row.isEditable"
              optionLabel="label"
              optionValue="value"
              filter
              [ngClass]="{ saved: !row.isEditable }"
              tooltipPosition="top"
            ></p-select>
          </td>

          <td>
            <p-select
              [options]="priorityOptionseb"
              [(ngModel)]="row.e"
              [disabled]="!row.isEditable"
              optionLabel="label"
              optionValue="value"
              filter
              [ngClass]="{ saved: !row.isEditable }"
              tooltipPosition="top"
            ></p-select>
          </td>

          <td>
            <p-select
              [options]="priorityOptionseb"
              [(ngModel)]="row.d"
              [disabled]="!row.isEditable"
              optionLabel="label"
              optionValue="value"
              filter
              [ngClass]="{ saved: !row.isEditable }"
              tooltipPosition="top"
            ></p-select>
          </td>

          <td>
            <p-select
              [options]="statusOptions"
              [(ngModel)]="row.s"
              [disabled]="!row.isEditable"
              optionLabel="label"
              optionValue="value"
              filter
              [ngClass]="{ saved: !row.isEditable }"
            ></p-select>
          </td>
          <!-- <td>
            <input
              pInputText
              [(ngModel)]="row.fiscalyear"
              [disabled]="!row.isEditable"
              [ngClass]="{ saved: !row.isEditable }"
              s
              tooltipPosition="top"
            />
          </td> -->
          <!-- <input
              pInputText
              [(ngModel)]="row.gdb"
              [disabled]="!row.isEditable"
              [ngClass]="{ saved: !row.isEditable }"
              [pTooltip]="row.gdb"
              tooltipPosition="top"
            /> -->
          <td>
            <div
              *ngIf="row.isEditable; else viewMode"
              style="display: flex; gap: 6px; flex-wrap: wrap"
            >
              <input
                pInputText
                [(ngModel)]="row.action"
                [disabled]="!row.isEditable"
                [pTooltip]="row.action"
                tooltipPosition="top"
                style="flex: 1 1 30%"
              />
              <input
                pInputText
                [(ngModel)]="row.description"
                [disabled]="!row.isEditable"
                [pTooltip]="row.description"
                tooltipPosition="top"
                style="flex: 1 1 40%"
                placeholder="Goal Description"
              />
              <input
                pInputText
                [(ngModel)]="row.memo"
                [disabled]="!row.isEditable"
                [pTooltip]="row.memo"
                tooltipPosition="top"
                style="flex: 1 1 25%"
                placeholder="Spec/memo"
              />
            </div>

            <ng-template #viewMode>
              <div
                class="saved"
                [pTooltip]="row.action + ' ' + row.description + ' ' + row.memo"
                tooltipPosition="top"
              >
                <b>{{ row.action }}</b> {{ row.description }} {{ row.memo }}
              </div>
            </ng-template>
          </td>

          <td class="align-content-center">
            <i
              [ngClass]="
                row.isEditable ? 'pi pi-save actions' : 'pi pi-pencil actions'
              "
              (click)="row.isEditable ? updateGoal(row) : enableEdit(row)"
            ></i>
            <i
              class="pi pi-history actions ml-3"
              (click)="historyDialog(row.goalid)"
            ></i>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <p-dialog
      header="Goals History"
      [(visible)]="display"
      [modal]="true"
      [style]="{ width: '90vw', height: '380px' }"
      [contentStyle]="{ 'max-height': '70vh', overflow: 'auto' }"
    >
      <p-table
        [value]="goalHistory"
        tableStyleClass="custom-goal-table goal-history-table"
        scrollable="true"
        scrollHeight="400px"
      >
        <ng-template pTemplate="header">
          <tr>
            <th
              *ngFor="let col of dialogcolumns"
              [ngStyle]="
                col.field === 'createddate'
                  ? { 'min-width': '200px', 'white-space': 'nowrap' }
                  : {}
              "
            >
              <b>{{ col.header }}</b>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row>
          <tr>
            <td>{{ row.who }}</td>
            <td>{{ row.p }}</td>
            <td>{{ row.proj }}</td>
            <td>{{ row.vp }}</td>
            <td>{{ row.b }}</td>
            <td>{{ row.e }}</td>
            <td>{{ row.d }}</td>
            <td>{{ row.s }}</td>
            <!-- <td>{{ row.fiscalyear }}</td> -->
            <td>
              <b>{{ row.action }}</b> {{ row.description }} {{ row.memo }}
            </td>
            <td
              style="
                min-width: 200px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              "
            >
              {{ row.createddate | date : "short" }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-dialog>
  </div>
</div>