<div class="body">
  <p-toast position="top-right"></p-toast>
  <div class="mb-1 title-section flex items-center">
    <div>
      <button class="legend-toggle" (click)="toggleLegend()">
        <i
          class="fa"
          [ngClass]="isLegendVisible ? 'fa-arrow-down' : 'fa-arrow-right'"
        ></i>
        <span>Legend</span>
      </button>
      <div *ngIf="isLegendVisible" class="legend-content">
        <p class="my-1">
          <strong>Key:</strong> WHO=Owner of the goal, P=Priority, PROJ=Project,
          VP=Boss of Goal Owner, B=WW goal was given, E=WW goal is due,
          <strong>S=Status of the goal</strong> N=New, C=Complete, ND=Newly
          Delinquent, CD=Continuing Delinquent, R=Revised, K=Killed,
          <strong>D:</strong> Delinquent.
        </p>

        <p class="my-1">
          <strong>PROJ TYPES:</strong>TJRM, TJRS, SHIP, SOX, BATT, ADMN, RCCA,
          SLES
        </p>
      </div>
    </div>
    <div class="flex items-center gap-2 ml-auto align-items-center">
      <span class="white-space-nowrap export-text">Export to</span>
      <p-select
        class="custom-select-width"
        [options]="exportOptions"
        [(ngModel)]="selectedExport"
        placeholder="Select"
        (onChange)="onExportChange($event.value)"
        optionLabel="label"
      ></p-select>
    </div>
  </div>

  <div class="p-2 mx-2 bg-white mb-2 border-round-md border-1 border-green-400">
   
    <div class="w-full">
      <div class="flex gap-2 align-items-end  " style="flex-wrap: wrap;">
        <div style="width:76px">
          <div class="mb-2 font-bold text-center">WHO</div>
          <p-select
          class="whoselect"
            [options]="whoOptions"
            [(ngModel)]="newRow.who"
            (onChange)="onWhoSelected()"
            placeholder="WHO"
            optionLabel="label"
            optionValue="value"
            [pTooltip]="'Owner of the goal'"
            tooltipPosition="bottom"
            filter
            [style]="{ width: '100%' }"
          >
            <ng-template let-option pTemplate="item">
              {{ option.label }}
            </ng-template>
            <ng-template let-selectedOption pTemplate="selectedItem">
              {{ selectedOption?.value }}
            </ng-template>
          </p-select>
        </div>

        <div style="width: 62px">
          <div class="mb-2 font-bold text-center">P</div>
          <p-select
            class="p-selectitem"
            [options]="priorityOptions"
            [(ngModel)]="newRow.p"
            placeholder="P"
            [pTooltip]="'Priority'"
            tooltipPosition="bottom"
            optionLabel="label"
            optionValue="value"
            filter
            [style]="{ width: '100%' }"
          ></p-select>
        </div>

        <div style="width: 85px">
          <div class="mb-2 font-bold text-center">PROJ</div>
          <p-select
            class="projselect"
            [options]="projOptions"
            [(ngModel)]="newRow.proj"
            placeholder="PROJ"
            [pTooltip]="'Project'"
            tooltipPosition="bottom"
            optionLabel="label"
            optionValue="value"
            filter
            [style]="{ width: '100%' }"
          ></p-select>
        </div>

        <div style="width: 76px">
          <div class="mb-2 font-bold text-center">VP</div>
          <p-select
            class="vpselect"
            [options]="vpOptions"
            [(ngModel)]="newRow.vp"
            placeholder="VP"
            optionLabel="label"
            optionValue="value"
            [pTooltip]="'Boss of Goal Owner'"
            tooltipPosition="bottom"
            filter
            [style]="{ width: '100%' }"
          >
            <ng-template let-option pTemplate="item">
              {{ option.label }}
            </ng-template>
            <ng-template let-selectedOption pTemplate="selectedItem">
              {{ selectedOption?.value }}
            </ng-template>
          </p-select>
        </div>

        <div style="width: 62px">
          <div class="mb-2 font-bold text-center">B</div>
          <p-select
            #bSelect
            class="bselect"
            [options]="priorityOptionsB"
            [(ngModel)]="newRow.b"
            placeholder="B"
            [pTooltip]="'WW goal was given'"
            tooltipPosition="bottom"
            optionLabel="label"
            optionValue="value"
            filter
            (keydown)="onKeydownGeneric($event, priorityOptionsB, 'b', bSelect)"
            [style]="{ width: '100%' }"
            [autofocusFilter]="true"
          ></p-select>
        </div>

        <div style="width: 62px">
          <div class="mb-2 font-bold text-center">E</div>
          <p-select
            #eSelect
            class="eselect"
            [options]="priorityOptionsE"
            [(ngModel)]="newRow.e"
            placeholder="E"
            [pTooltip]="'WW goal is due'"
            tooltipPosition="bottom"
            optionLabel="label"
            optionValue="value"
            filter
            (keydown)="onKeydownGeneric($event, priorityOptionsE, 'e', eSelect)"
            [style]="{ width: '100%' }"
          ></p-select>
        </div>
        <div style="width: 62px">
          <div class="mb-2 font-bold text-center">D</div>
          <p-select
            #dselect
            class="dselect"
            [options]="priorityOptionsD"
            [(ngModel)]="newRow.d"
            placeholder="D"
            [pTooltip]="'Delinquent'"
            tooltipPosition="bottom"
            optionLabel="label"
            optionValue="value"
            (keydown)="onKeydownGeneric($event, priorityOptionsD, 'd', dselect)"
            filter
            [style]="{ width: '100%' }"
          ></p-select>
        </div>

        <div style="width: 74px">
          <div class="mb-2 font-bold text-center">S</div>
          <p-select
          class="select"
          [options]="statusOptions"
          [(ngModel)]="newRow.s"
          placeholder="S"
          [pTooltip]="'Status of the goal'"
          tooltipPosition="bottom"
          optionLabel="label"
          optionValue="value"
          filter
          appendTo="body"
          [style]="{ width: '100%' }"
        >
          <ng-template let-selectedOption pTemplate="selectedItem">
            {{ selectedOption?.value }}
          </ng-template>
        </p-select>
        </div>
        <div class="">
          <div class="font-bold text-center mb-2">Goal Deliverables</div>
          <div class="flex gap-2">
            <div style="width: 133px">
              <p-select
                class="actionselect"
                [options]="actionOptions"
                [(ngModel)]="newRow.action"
                placeholder="Action"
                optionLabel="label"
                [pTooltip]="'Select Action'"
                tooltipPosition="bottom"
                optionValue="value"
                [style]="{ width: '100%' }"
              ></p-select>
            </div>

            <div style="width: 250px">
              <input
                pInputText
                [(ngModel)]="newRow.description"
                maxlength="70"
                placeholder="Goal Description"
                [pTooltip]="'Select Description'"
                tooltipPosition="bottom"
                class="goal-select"
              />
            </div>

            <div style="width: 150px">
              <input
                pInputText
                [(ngModel)]="newRow.memo"
                maxlength="17"
                placeholder="SPEC/MEMO"
                [pTooltip]="'Select SPEC/MEMO'"
                tooltipPosition="bottom"
                class="spec-select"
              />
            </div>
          </div>
        </div>

        <div style="width: 60px">
          <div class="mb-2 font-bold text-center">Year</div>
          <input
            class="yearinput"
            pInputText
            [(ngModel)]="newRow.fiscalyear"
            placeholder="year"
          />
        </div>

        <div style="width: 60px">
          <div class="mb-2 font-bold text-center">Confidential</div>
          <p-checkbox
            [(ngModel)]="newRow.isconfidential"
            binary="true"
            inputId="isconfidential-new"
            [pTooltip]="'Mark as Confidential'"
            tooltipPosition="bottom"
            [style]="{ 'margin-top': '10px' }"
          ></p-checkbox>
        </div>

        <div
          class="flex ialign-items-center justify-content-center flex-column gap-1" >
          <p-button
            icon="pi pi-filter-slash"
            (click)="clearAllFilters()"
            severity="success"
            size="small"
            label="Clear"
            [style]="{ height: '24px', fontSize: '12px' }"
          ></p-button>

          <p-button
            icon="pi pi-plus"
            (click)="addGoal()"
            severity="success"
            size="small"
            label="Add"
            [style]="{ height: '24px', fontSize: '12px' }"
          ></p-button>
        </div>
      </div>

      <div class="flex gap-2"></div>
    </div>
  </div>

  <div class="table-container pr-3 pl-3">
    <p-table
      #dataTable
      [value]="goal"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 20, 50]"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} goals"
      [paginatorPosition]="'bottom'"
      [sortMode]="'multiple'"
      scrollable="false"
      [style]="{ width: '100%', height: 'auto', tableLayout: 'fixed' }"
      [tableStyleClass]="
        isEdit
          ? 'custom-goal-table fixed-table edit'
          : 'custom-goal-table fixed-table'
      "
    >
      <ng-template pTemplate="header">
        <tr>
          <th
            *ngFor="let col of columns"
            [hidden]="
              (col.field === 'fiscalyear' && !isAnyRowEditable()) "
            class=""
          >
            <div class="flex items-center justify-between">
              <div
              class="test"
              *ngIf="col.field !== 'action' && col.field !== 'confidential'; else noSort"
              [pSortableColumn]="col.field"
            >
                <b>{{ col.header }}</b>
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </div>
              <ng-template #noSort>
                <b>{{ col.header }}</b>
              </ng-template>
              <div
                class="relative"
                *ngIf="col.field !== 'action' && col.field !== 'gdb' && col.field !== 'confidential'"
              >
                <p-multiSelect
                  [options]="getFilterOptions(col.field)"
                  [(ngModel)]="selectedFilters[col.field]"
                  (onChange)="onFilterChange(col.field)"
                  optionLabel="label"
                  display="chip"
                  [style]="{
                    width: '1.5rem',
                    height: '1.5rem',
                    padding: 0,
                    border: 'none',
                    background: 'transparent'
                  }"
                  panelStyleClass="filter-dropdown-left"
                  [showToggleAll]="true"
                  [maxSelectedLabels]="0"
                  [dropdownIcon]="'pi pi-filter'"
                  appendTo="body"
                  [ngClass]="{ 'filter-active': activeFilters[col.field] }"
                >
                  <ng-template let-value pTemplate="selectedItems">
                    <span class="sr-only">Filter</span>
                  </ng-template>
                </p-multiSelect>
              </div>

              <div class="relative" *ngIf="col.field === 'gdb'">
                <p-columnFilter
                  #gdbColumnFilter
                  field="gdb"
                  matchMode="contains"
                  [showMatchModes]="false"
                  [showOperator]="false"
                  [showAddButton]="false"
                  display="menu"
                  [showApplyButton]="false"
                  [showClearButton]="false"
                >
                  <ng-template #filter let-value let-filter="filterCallback">
                    <div
                      class="flex flex-column gap-2 p-2"
                      style="min-width: 14rem"
                    >
                      <div
                        class="flex justify-content-between align-items-center"
                      >
                        <strong>Goal Description</strong>
                        <button
                          type="button"
                          pButton
                          icon="pi pi-times"
                          class="p-button-sm p-button-text"
                          (click)="gdbColumnFilter?.hide()"
                        ></button>
                      </div>

                      <input
                        type="text"
                        pInputText
                        [(ngModel)]="gdbSearchText"
                        (ngModelChange)="onGdbFilterChange()"
                        placeholder="Search GDB"
                      />

                      <div class="flex gap-2 justify-content-between">
                        <p-button
                          type="button"
                          label="Clear"
                          size="small"
                          (click)="clearFilter('gdb')"
                        ></p-button>
                        <!-- <p-button type="button" label="Apply" size="small" (click)="applyFilters()"></p-button> -->
                      </div>
                    </div>
                  </ng-template>
                </p-columnFilter>
              </div>
            </div>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
        <tr *ngIf="goal.length">
          <td>
            <span>{{ row.goalid }}</span>
          </td>
          <td>
            <div
              #whoSelectWrapper
              [pTooltip]="getLabelForValue(row.who)"
              tooltipPosition="bottom"
            >
              <p-select
                #whoSelect
                [options]="whoOptions"
                [(ngModel)]="row.who"
                [disabled]="!row.isEditable"
                optionLabel="label"
                optionValue="value"
                filter
                [ngClass]="{ saved: !row.isEditable }"
                [tabindex]="rowIndex * 100 + 1"
                (keydown)="onKeydownGeneric($event, whoOptions, 'who', whoSelect)"
              >
                <ng-template let-option pTemplate="item">
                  {{ option.label }}
                </ng-template>
                <ng-template let-selectedOption pTemplate="selectedItem">
                  {{
                    row.isEditable
                      ? selectedOption?.value
                      : selectedOption?.value
                  }}
                </ng-template>
              </p-select>
            </div>
          </td>

          <td>
            <p-select
              [options]="priorityOptions"
              [(ngModel)]="row.p"
              [disabled]="!row.isEditable"
              optionLabel="label"
              optionValue="value"
              filter
              [ngClass]="{ saved: !row.isEditable }"
              tooltipPosition="bottom"
              [tabindex]="rowIndex * 100 + 2"
            ></p-select>
          </td>

          <td>
            <p-select
              [options]="projOptions"
              [(ngModel)]="row.proj"
              [disabled]="!row.isEditable"
              optionLabel="label"
              optionValue="value"
              filter
              [ngClass]="{ saved: !row.isEditable }"
              tooltipPosition="bottom"
              [tabindex]="rowIndex * 100 + 3"
            ></p-select>
          </td>

          <td>
            <div
              [pTooltip]="getLabelForVpValue(row.vp)"
              tooltipPosition="bottom"
            >
              <p-select
                [options]="vpOptions"
                [(ngModel)]="row.vp"
                [disabled]="!row.isEditable"
                optionLabel="label"
                optionValue="value"
                filter
                [ngClass]="{ saved: !row.isEditable }"
                [tabindex]="rowIndex * 100 + 4"
              >
                <ng-template let-option pTemplate="item">
                  {{ option.label }}
                </ng-template>
                <ng-template let-selectedOption pTemplate="selectedItem">
                  {{
                    row.isEditable
                      ? selectedOption?.value
                      : selectedOption?.value
                  }}
                </ng-template>
              </p-select>
            </div>
          </td>

          <td>
            <p-select
              [options]="priorityOptionsB"
              [(ngModel)]="row.b"
              [disabled]="!row.isEditable"
              optionLabel="label"
              optionValue="value"
              filter
              [ngClass]="{ saved: !row.isEditable }"
              tooltipPosition="bottom"
              [tabindex]="rowIndex * 100 + 5"
            ></p-select>
          </td>

          <td>
            <p-select
              [options]="priorityOptionsE"
              [(ngModel)]="row.e"
              [disabled]="!row.isEditable"
              optionLabel="label"
              optionValue="value"
              filter
              [ngClass]="{ saved: !row.isEditable }"
              tooltipPosition="bottom"
              [tabindex]="rowIndex * 100 + 6"
            ></p-select>
          </td>

          <td>
            <p-select
              [options]="priorityOptionsD"
              [(ngModel)]="row.d"
              [disabled]="!row.isEditable"
              optionLabel="label"
              optionValue="value"
              filter
              [ngClass]="{ saved: !row.isEditable }"
              tooltipPosition="bottom"
              [tabindex]="rowIndex * 100 + 7"
            ></p-select>
          </td>

          <td>
            <div
              [pTooltip]="
                !row.isEditable ? getLabelForStatusValue(row.s) : undefined
              "
              tooltipPosition="bottom"
            >
              <p-select
                [options]="statusOptions"
                [(ngModel)]="row.s"
                [disabled]="!row.isEditable"
                optionLabel="label"
                optionValue="value"
                filter
                [ngClass]="{ saved: !row.isEditable }"
                [tabindex]="rowIndex * 100 + 8"
              >
                <ng-template let-option pTemplate="item">
                  {{ option.label }}
                </ng-template>
                <ng-template let-selectedOption pTemplate="selectedItem">
                  {{ selectedOption?.value }}
                </ng-template>
              </p-select>
            </div>
          </td>

          <td>
            <div
              *ngIf="row.isEditable; else viewMode"
              style="display: flex; gap: 6px; flex-wrap: wrap"
            >
              <p-select
                [options]="actionOptions"
                [(ngModel)]="row.action"
                [disabled]="!row.isEditable"
                [pTooltip]="row.action"
                tooltipPosition="bottom"
                placeholder="Select Action"
                optionLabel="label"
                optionValue="value"
                [tabindex]="rowIndex * 100 + 9"
                id="action-select"
              >
              </p-select>
              <input
                pInputText
                [(ngModel)]="row.description"
                [disabled]="!row.isEditable"
                [pTooltip]="row.description"
                tooltipPosition="bottom"
                placeholder="Goal Description"
                [tabindex]="rowIndex * 100 + 10"
                id="goal-select"
              />
              <input
                pInputText
                [(ngModel)]="row.memo"
                [disabled]="!row.isEditable"
                [pTooltip]="row.memo"
                tooltipPosition="bottom"
                placeholder="SPEC/MEMO"
                [tabindex]="rowIndex * 100 + 11"
                id="spec-select"
              />
            </div>
            <ng-template #viewMode>
              <div class="saved">
                <b>{{ row.action }}</b>
                <span
                  *ngIf="row.description.length > 55"
                  class="description-link"
                  (click)="showDescription($event, row.description)"
                  [pTooltip]="
                    row.action + ' ' + row.description + ' ' + row.memo
                  "
                  tooltipPosition="bottom"
                >
                  {{ row.description | slice : 0 : 55 }}...
                </span>

                <span *ngIf="row.description.length <= 55">
                  {{ row.description }}
                </span>
                <b>
                  {{ row.memo }}
                </b>
              </div>
            </ng-template>

            <p-confirmPopup #descriptionPopup key="descPopup"></p-confirmPopup>
          </td>
          <!-- <td *ngIf="row.isEditable">
            <input
              pInputText
              [(ngModel)]="row.fiscalyear"
              [disabled]="!row.isEditable"
              tooltipPosition="bottom"
              tabindex="12"
              id="year-input"
            />
          </td> -->
          <td *ngIf="isAnyRowEditable()">
            <input
              pInputText
              [(ngModel)]="row.fiscalyear"
              [disabled]="!row.isEditable"
              [readonly]="!row.isEditable"
              tooltipPosition="bottom"
              tabindex="12"
              id="year-input"
              [ngClass]="{ 'saved': !row.isEditable }"
            />
          </td>
          
          <!-- <td>
            <p-checkbox
              [(ngModel)]="row.isconfidential"
              binary="true"
              inputId="isconfidential-{{ rowIndex }}"
              [pTooltip]="'Mark as Confidential'"
              tooltipPosition="bottom"
              [style]="{ 'margin-top': '4px' }"
              [disabled]="!row.isEditable"
              [ngClass]="{ 'saved': !row.isEditable }"
            ></p-checkbox>
          </td> -->
          <td>
            <ng-container>
              <p-checkbox
                [(ngModel)]="row.isconfidential"
                binary="true"
                [disabled]="!row.isEditable"
                inputId="isconfidential-{{ rowIndex }}"
                [pTooltip]="'Mark as Confidential'"
                tooltipPosition="bottom"
                [style]="{ 'margin-top': '4px' }"
              ></p-checkbox>
            </ng-container>
          </td>
          
          <td class="icon-actions-column">
            <i
              [ngClass]="
                row.isEditable ? 'pi pi-save actions' : 'pi pi-pencil actions'
              "
              (click)="row.isEditable ? updateGoal(row) : enableEdit(row)"
              tabindex="13"
            ></i>
            <i
              *ngIf="!row.isEditable"
              class="pi pi-history actions"
              (click)="historyDialog(row.goalid)"
            ></i>
            <i
              *ngIf="row.isEditable"
              class="pi pi-times actions"
              (click)="cancelEdit(row)"
              pTooltip="Cancel Edit"
              tooltipPosition="bottom"
            ></i>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <p-dialog
      header="Goals History"
      [(visible)]="display"
      [modal]="true"
      [style]="{ width: '90vw' }"
      [contentStyle]="{ 'max-height': '70vh', overflow: 'auto' }"
      [showHeader]="false" 
    >

      <!-- Custom Close Button -->


      <div
        class="flex items-center gap-2 ml-auto align-items-center justify-content-between py-2"
      >
      <div>Goal History</div>
       <div> <span class="white-space-nowrap mr-2">Export to</span>
        <p-select
          class="custom-select-width mr-2"
          [options]="exportOptions"
          [(ngModel)]="selectedExport"
          placeholder="Select"
          (onChange)="onHistoryExportChange($event.value, goalHistory)"
          optionLabel="label"
        ></p-select>
        <button 
        class="custom-close-button p-button p-button-text"
        (click)="display = false"
        type="button"
      >
        <i class="pi pi-times"></i>
      </button>
      </div>
      </div>

      <p-table
        [value]="goalHistory"
        tableStyleClass=" goal-history-table"
        scrollable="true"
        scrollHeight="400px"
      >
        <ng-template pTemplate="header">
          <tr>
            <th
              *ngFor="let col of dialogcolumns"
              [ngStyle]="
                col.field === 'createddate'
                  ? { 'min-width': '20px', 'white-space': 'nowrap' }
                  : {}
              "
            >
              <b>{{ col.header }}</b>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
          <tr>
            <td>{{ row.who }}</td>
            <td>{{ row.p }}</td>
            <td>{{ row.proj }}</td>
            <td>{{ row.vp }}</td>
            <td>{{ row.b }}</td>
            <td>{{ row.e }}</td>
            <td>{{ row.d }}</td>
            <td>{{ row.s }}</td>

            <td>
              <div class="flex flex-wrap items-center gap-2">
                <b class="flex">
                  <ng-container *ngFor="let part of row.display.action">
                    <span [style.color]="part.color" style="white-space: pre-wrap;">{{ part.text }}</span>
                  </ng-container>
                </b>

                <span class="flex">
                  <ng-container *ngFor="let part of row.display.description">
                    <span [style.color]="part.color" style="white-space: pre-wrap;">{{ part.text }}</span>
                  </ng-container>
                </span>

                <b class="flex">
                  <ng-container *ngFor="let part of row.display.memo">
                    <span [style.color]="part.color" style="white-space: pre-wrap;">{{ part.text }}</span>
                  </ng-container>                 
                </b>
              </div>
            </td>

            <td>{{ row.createddateMST }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-dialog>
  </div>
</div>
