

.fixed-table {
  table-layout: fixed;
  width: 100%;
}

.fixed-table th,
.fixed-table td {
  width: 70px;
  word-wrap: break-word; /* optional: helps break long text */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.legend-content {
  padding: 2px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid gainsboro;
  width: 99%;
  font-size: 12px;
}
.export-text{
  font-size: 12px;
}
::ng-deep .custom-goal-table th:nth-child(10),
::ng-deep .custom-goal-table td:nth-child(10) {
  width: 400px;
}
.goals-text{
font-size: 12px;}


::ng-deep button.p-ripple.p-button.p-component.p-button-icon-only.p-button-secondary.p-button-rounded.p-button-text.p-datatable-column-filter-button {
  justify-content: flex-start;
}


::ng-deep td .p-inputtext,
::ng-deep td .p-dropdown {
  height: 32px !important;
  font-size: 13px;
  padding: 4px 8px !important;
  box-sizing: border-box;
  vertical-align: middle;
}

/* Dropdown label spacing */
::ng-deep .p-dropdown-label {
  padding: 4px 8px !important;
  line-height: 1.2;
}

::ng-deep .custom-goal-table th {
  background-color: rgb(226, 239, 218) !important;
  color: white; /* Optionally set text color */
  height: 40px;
}

/* Optionally, you can style the header row further */
::ng-deep .custom-goal-table .p-d-flex.p-ai-center {
  background-color: rgb(
    226,
    239,
    218
  ) !important; /* Set your desired color here */
  color: white; /* White text for contrast */
}

::ng-deep .p-inputtext {
  width: 100% !important;
  min-width: 60px;
}

.header-row {
  background-color: rgb(226, 239, 218);
}

/* Set a fixed width for the dropdowns */
::ng-deep .p-dropdown {
  width: 100% !important; /* Make sure the dropdowns take up the full column width */ /* Set a minimum width to prevent shrinking */
}

/* Adjust other table elements to ensure consistency */
::ng-deep .p-dropdown .p-dropdown-label {
  width: 100% !important; /* Ensure the label area fills the dropdown container */
}


/* Ensure inputs inside the table cells don't collapse */
::ng-deep .p-inputtext {
  width: 100% !important;
  min-width: 60px;
  font-size: 12px;
  height: 30px;
}

.fixed-row {
  position: sticky;
  top: 22px;
  z-index: 2;
}
::ng-deep .p-sortable-column-icon {
  height: 10px; /* Adjust as needed */
  vertical-align: middle;
}

.saved {
  border: none;
  box-shadow: none;
  cursor: pointer;
  // background-color: white !important;
}

::ng-deep .saved .p-select-dropdown {
  display: none;
}

.actions {
  cursor: pointer;
}

::ng-deep .custom-goal-table .p-datatable-tbody > tr > td,
::ng-deep .custom-goal-table .p-datatable-thead > tr > th {
  padding: 2px 8px !important;
  font-size: 12px !important; /* reduce font size */
  line-height: 1 !important;
  height: 28px !important; /* tighter row spacing */
 
}



.logo {
  width: 175px;
}

.info-section {
  background-color: whitesmoke;
  border-left: 4px solid green;
  max-width: 95%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  // border: 2px solid #333;
  border-radius: 5px;
}

.title-section {
  //background-color: whitesmoke;
  max-width: 99%;
  margin: 0 auto;
  border-radius: 10px;
}
.legend-sec {
  max-width: 95%;
  margin: 0 auto;
}
.body {
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}
.logo-section {
  background-color: #fff;
  padding: 6px;
}

.form-section {
  display: flex;
  justify-content: flex-end;
  max-width: 96%;
  // margin: 0 auto 20px auto;
}
.titles {
  text-align: right;
}

.main-title {
  font-size: 22px;
  font-weight: 700;
  color: #333;
  letter-spacing: 1px;
}

// .sub-title {
//   font-size: 12px;
//   // color: #4caf50;
//   margin-top: 4px;
// }

.date {
  font-size: 10px;
  color: #777;
  margin-top: 2px;
}

::ng-deep .custom-goal-table .p-datatable-wrapper {
  height: 100%;
}

::ng-deep .custom-goal-table .p-datatable-scrollable-body {
  flex: 1 1 auto;
  overflow-y: auto !important;
}

::ng-deep .custom-goal-table .p-datatable-scrollable {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.custom-goal-table th:last-child {
  text-align: left;
}

::ng-deep .p-datatable-table-container {
  border-radius: 5px;
}

.settingSelect {
  background: none !important;
  box-shadow: none;
  border: none;
  // width: 40% !important;
}

.settingSelect:hover {
  background: none !important;
}

.settings-icon {
  width: 19px;
  margin-right: 5px;
}

.settingSelect ::ng-deep.p-placeholder {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.goalsClass {
  color: #19582e;
  border-radius: 23px;
  background-color: #dbedcb;
  width: 75px;
  padding: 0 0 0 6px;
}
::ng-deep .custom-goal-table tbody tr:nth-child(even) {
  background-color: rgb(226, 239, 218) !important;
}

::ng-deep .custom-goal-table tbody tr:nth-child(odd) {
  background-color: rgb(255, 255, 255) !important;
}

/* Ensure inputs and dropdowns inside the row inherit background */
::ng-deep .custom-goal-table tbody tr:nth-child(even) input,
::ng-deep .custom-goal-table tbody tr:nth-child(even) .p-inputtext,
::ng-deep .custom-goal-table tbody tr:nth-child(even) .p-dropdown,
::ng-deep .custom-goal-table tbody tr:nth-child(even) .p-select {
  background-color: rgb(226, 239, 218) !important;
}

::ng-deep .custom-goal-table tbody tr:nth-child(odd) input,
::ng-deep .custom-goal-table tbody tr:nth-child(odd) .p-inputtext,
::ng-deep .custom-goal-table tbody tr:nth-child(odd) .p-dropdown,
::ng-deep .custom-goal-table tbody tr:nth-child(odd) .p-select {
  background-color: rgb(255, 255, 255) !important;
}
::ng-deep .goal-history-table tbody tr:nth-child(even) {
  background-color: rgb(226, 239, 218) !important;
}
::ng-deep .goal-history-table th {
  background-color: rgb(226, 239, 218) !important;
  color: white;
  height: 40px;
}
::ng-deep .goal-history-table tbody tr:nth-child(odd) {
  background-color: rgb(255, 255, 255) !important;
}

:host ::ng-deep .custom-select-width {
  width: 8rem !important;
}
::ng-deep .p-paginator-rpp-dropdown,
::ng-deep .p-paginator-rpp-dropdown > ::ng-deep .p-select-label {
  width: 5rem !important;
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Add space between the calendar icon and the date */
.calendar-icon {
  margin-right: 5px; /* Adds 10px space to the right of the icon */
}



.legend-toggle {
  background-color: transparent;
  color: #4caf50;
  border: none; /* Removes the border */
  font-size: 13px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.legend-toggle i {
  margin-right: 5px; /* Space between the arrow and the label */
}

.legend-toggle:hover {
  color: #45a049;
  background-color: transparent; /* Ensures no background color when hovered */
}


::ng-deep
  .custom-goal-table
  .p-datatable-tbody
  > tr.add-row.head.first-data-row {
  background-color: rgb(139, 139, 212) !important;
}

.test {
  align-items: center;
  display: flex;
}

.calendar-icon {
  vertical-align: middle;
  margin-bottom: 1px; /* optional fine-tuning */
}
.settingSelect .p-dropdown-label {
  vertical-align: middle;
}

::ng-deep .p-multiselect {
  min-height: 30px !important;
}

::ng-deep .p-multiselect-label-container {
  max-height: 30px;
}
.icon-actions-column {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Adjust spacing between icons as needed */
}

.actions {
  font-size: 1.2rem;
  cursor: pointer;
}
.highlight-change {
  background-color: yellow;
  color: black;
}

::ng-deep .filter-active button.p-datatable-column-filter-button {
  background-color: #c9c9c9 !important;
  color: black !important;
}

::ng-deep .filter-active .pi-filter {
  color: #007ad9; 
  font-size: 12px;
}
.filter-icon-button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}
.filter-dropdown {
  min-width: 200px;
}


.custom-close-button{
  background: #ffbbbb;
  color: #942020;
}
.custom-close-button:hover{
  background: #ffbbbb;
  color: #942020;
}