
<div >
  <div class="pagetitle pb-2 flex align-items-center justify-content-between gap-3">
    <div>Dashboard</div>
    <div class="flex gap-2 align-items-center">
      <p-multiSelect
      placeholder="Select VP" 
      [options]="vpOptions"
      [(ngModel)]="selectedVP"
      optionLabel="label"
      optionValue="value"    
      styleClass="p-select-sm"
      (onChange)="onFilterChange()"
      [showClear]="true"
    ></p-multiSelect>
    
      <p-select 
        [options]="projectOptions" 
        [(ngModel)]="selectedProject" 
        placeholder="Select Project" 
        optionLabel="label" 
        styleClass="p-select-sm"
        (onChange)="onFilterChange()"
        [showClear]="true"

      ></p-select>
      <p-button icon="pi pi-filter-slash" (click)="clearFilters()" severity="success" size="small" label="Clear"
      [style]="{ height: '24px', fontSize: '14px', width:'70px'}"></p-button>


    </div>
  </div>

<div class="bg-white p-3 border-round-md" style="flex: 1 1 45%; overflow-x: auto;">
  <p-chart
    *ngIf="!isProjectsByVPLoading && projectsByVPChartData"
    type="bar"
    [data]="projectsByVPChartData"
    [options]="projectsByVPChartOptions"
    style="min-width: 1000px; height: 400px;"
  ></p-chart>
</div>

<div class="bg-white p-3 border-round-md" style="flex: 1 1 45%; overflow-x: auto; overflow-y: hidden;">
  <p-chart
    *ngIf="!isProjectStatusLoading && projectStatusChartData"
    type="bar"
    [data]="projectStatusChartData"
    [options]="projectStatusChartOptions"
    style="min-width: 1500px; height: 400px;"
  ></p-chart>
</div>

<div class="bg-white p-3 border-round-md" style="flex: 1 1 45%; max-height: 400px; display: flex; align-items: center; justify-content: center;">
  <p-chart
    *ngIf="!isStatusWiseLoading && statusWiseChartData"
    type="pie"
    [data]="statusWiseChartData"
    [options]="statusWiseChartOptions"
    style="width: 420px; height: 400px;"
  ></p-chart>
</div>



  <!-- Year-wise & Status-wise Charts (Bottom Row) -->
  <!-- <div class="flex gap-3 p-3" style="flex-wrap: wrap;">
    <div class="bg-white p-3 border-round-md" style="flex: 1 1 45%; max-height: 400px; overflow-y: auto;">
      <p-progressSpinner *ngIf="isStatusWiseLoading" styleClass="custom-spinner"></p-progressSpinner>
      <apx-chart
        *ngIf="!isStatusWiseLoading && statusWiseChartOptions?.series?.length"
        [series]="statusWiseChartOptions.series"
        [labels]="statusWiseChartOptions.labels"
        [chart]="statusWiseChartOptions.chart"
        [title]="statusWiseChartOptions.title"
        [colors]="statusWiseChartOptions.colors"
        [legend]="{ position: 'bottom' }"
        [plotOptions]="{
          pie: {
            donut: {
              labels: {
                show: true,
                name: { show: true },
                value: { show: true },
                total: { show: true }
              }
            }
          }
        }"
        [dataLabels]="statusWiseChartOptions.dataLabels"
        [stroke]="{ show: false }">
      </apx-chart>
    </div> -->
