.charts-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
  }
  
  .chart-box {
    flex: 1 1 45%;
    min-width: 300px;
  }
  .proj-txt{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #646464;}
  .full-width {
    flex: 1 1 100%;
  }

  ::ng-deep body{
    height: 100vh;
  }

  .loader-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
  }
  
  .loader {
    font-size: 20px;
    color: #007bff;
    font-weight: bold;
  }
   
  // ::ng-deep .custom-spinner {
  //   width: 90px;
  //   height: 90px;
  //   margin: auto;
  //   display: block;
  // }
  ::ng-deep .custom-spinner {
    width: 50px; 
    height: 50px;
    margin: auto;
    display: block;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 10; 
  }  

  ::ng-deep .bar-chart canvas {
    width: 100% !important;
    height: 450px !important;
  }
  ::ng-deep .h-bar-chart canvas {
    width: 100% !important;
    // height: 1800px !important;
    height: var(--canvas-height) !important;
}
::ng-deep .h-bar-chart{
  // max-height: 400px !important;
  overflow: auto;
}
  p.text-center.font-bold {
    font-weight: 700;
    font-size: 1.2rem;
    color: #333;
  }
  .bg-1{
    background-image: url("../../assets/proj-1.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .bg-2{
    background-image: url("../../assets/proj-2.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .bg-3{
    background-image: url("../../assets/proj-3.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .bg-4{
    background-image: url("../../assets/proj-4.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .bg-5{
    background-image: url("../../assets/proj-5.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .bg-6{
    background-image: url("../../assets/proj-6.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .bg-7{
    background: #D1F3D7;
  }
  .bg-8{
    background: #D1F3D7;
  }
  .dash-htxt{
    color: #fff;
    font-size: 14px;
  }
  .dash-ptxt{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
  }
  .dash-htxt1{
    color: #444444;
    font-size: 14px;
  }
  .dash-ptxt1{
    color: #444444;
    font-size: 24px;
    font-weight: bold;
  }
  .linediv{
    height: 2px;
    width: 100%;
    background: #ffffff;
  }
.totalback{
  background: #e8e9ff;
  border-radius: 10px;
  height: 142px;

}
.totalback2{
  background: #d9f5c8;
  border-radius: 10px;
  height: 142px;
}
