.align {
    display: flex;
    /* justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%; */
}
.ag-theme-balham .ag-header-cell{
  background-color: #e0e0e0;
}
.error {
    background-color: red;
}
.ag-theme-balham {
  /* --ag-foreground-color: rgb(126, 46, 132);
  --ag-background-color: rgb(249, 245, 227); */
  --ag-header-foreground-color: rgb(9, 10, 8);
  --ag-header-background-color: rgb(169, 208, 142);
  --ag-odd-row-background-color: rgb(226,239,218);
  --ag-header-column-resize-handle-color: rgb(126, 46, 132);

  --ag-font-size: 17px;
  --ag-font-family: monospace;
}

.actions-cell{
  background-color: #ff5722;
}
.custom-header{
    background-color: #ff5722; /* Orange background */
  color: white; /* White text */
}
/* Change header background color */
.ag-theme-balham .ag-header {
    background-color: #4CAF50; /* Custom color */
  }
  
  /* Change header text color */
  .ag-theme-balham .ag-header-cell-label {
    color: white; /* Change text color */
  }
  