<div class="row" style="margin-top: 10px;">
    <div class="align">
      <div class="col-md-6"><img src="./assets/logo.png" alt="Complete solar" width="35%" />
      </div>
      <div class="col-md-6"> <label style="font-size: 30px;">Executive Staff Weekly Goals</label> <br />
        <span style="font-size: 28px;margin-left: 25%;">WW6 (Who/P)</span><br />
        <span style="margin-left: 27%;">JYV 02-06-2025</span>
      </div>
  
    </div>
  </div>
  <br />
  <div style="font-weight: bold;">Key: WHO=Owner of the goal, P=Priority, PROJ=Project, VP=Boss of Goal Owner, B=WW goal
    was given, E=WW goal is due</div>
  <div style="font-weight: bold;">S=Status of the goal: N=New, C=Complete, ND=Newly Delinquent, CD=Continuing Delinquent,
    R=Revised, K=Killed</div>
  <div style="font-weight: bold;">PROJ TYPES: ADMN, AGE, AOP, AVL, BOM, CCC, COMM, COST, ENG, FAB, FIN, FUND, GEN, GM47,
    HR, INST, IT, OPEX, PURC, QUAL, RCCA, SALES, SOX, TJRS</div>
  <div style="font-weight: bold;">D: Delinquent</div>
  <br />
  <!-- <button (click)="onBtnExport()">Download CSV export file</button> -->
  <div style="margin-bottom: 2px;">
    <input type="text" style="width: 143px;height: 28px;" [(ngModel)]="who" maxlength="3" (mouseout)="onChange()" placeholder="WHO" [ngbTypeahead]="search">
    <input type="text" style="width: 43px;height: 28px;" [(ngModel)]="p" (mouseout)="onChange()" (keypress)="numberOnly($event)" maxlength="2" placeholder="P"> 
    <!-- <select style="width: 43px;height: 28px;"  [(ngModel)]="p">
      <option value="">P</option>
      <option *ngFor="let p of Plist" [ngValue]="p">{{ p }}</option>
    </select> -->
    <select style="width: 100px;height: 28px;"  [(ngModel)]="proj">
      <option value="">PROJ</option>
      <option *ngFor="let proj of PROJlist" [ngValue]="proj">{{ proj }}</option>
    </select>
    <!-- <input type="text" style="width: 100px;height: 28px;" [(ngModel)]="PROJ" (mouseout)="onChange()" placeholder="PROJ" [ngbTypeahead]="projsearch"> -->
    <input type="text" style="width: 144px;height: 28px;" [(ngModel)]="vp" (mouseout)="onChange()" placeholder="VP" [ngbTypeahead]="vpsearch">
    <!-- <input type="text" style="width: 43px;height: 28px;" [(ngModel)]="B" (keypress)="numberOnly($event)"
      (mouseout)="onChange()" placeholder="B">
    <input type="text" style="width: 43px;height: 28px;" [(ngModel)]="E" (keypress)="numberOnly($event)"
      (mouseout)="onChange()" placeholder="E"> -->
      <select style="width: 50px;height: 28px;"  [(ngModel)]="b">
        <option value="">B</option>
        <option *ngFor="let b of Blist" [ngValue]="b">{{ b }}</option>
      </select>
      <select style="width: 50px;height: 28px;height: 28px;" [(ngModel)]="e">
        <option value="">E</option>
        <option *ngFor="let e of Elist" [ngValue]="e">{{ e }}</option>
      </select>
      <select style="width: 55px;height: 28px;"  [(ngModel)]="d">
        <option value="">D</option>
        <option *ngFor="let d of Dlist" [ngValue]="d">{{ d }}</option>
      </select>
      <select style="width: 55px;height: 28px;height: 28px;" [(ngModel)]="s">
        <option value="">S</option>
        <option *ngFor="let s of Slist" [ngValue]="s">{{ s }}</option>
      </select>
    <!-- <input type="text" style="width: 55px;height: 28px;" [(ngModel)]="D" (keypress)="numberOnly($event)"
      (mouseout)="onChange()" placeholder="D">
    <input type="text" style="width: 55px;height: 28px;" [(ngModel)]="S" (mouseout)="onChange()" placeholder="S"> -->
    <!-- <select style="width: 43px;height: 28px;" [(ngModel)]="D">
      <option *ngFor="let x in status" value="{{x}}">{{x}}</option>
    </select> -->
    <!-- <select style="width: 43px;height: 28px;height: 28px;" class="form-control" [(ngModel)]="D">
      <option value="" disabled>Status</option>
      <option *ngFor="let c of status" [ngValue]="c">{{ c }}</option>
    </select> -->
    <input type="text" style="width: 460px;height: 28px;" [(ngModel)]="gdb" (mouseout)="onChange()" placeholder="GDB">
    <input type="text" style="width: 60px;height: 28px;" (keypress)="numberOnly($event)" [(ngModel)]="FiscalYear" maxlength="4" (mouseout)="onChange()" placeholder="YYYY">
  </div>
  <ag-grid-angular style="width: 100%; height: 500px;" class="ag-theme-balham" [rowData]="rowData1"
    [columnDefs]="columnDefs1" [editType]="'fullRow'" [suppressClickEdit]="true" [components]="components"
    [defaultColDef]="defaultColDef" (cellValueChanged)="onCellValueChanged($event)" (gridReady)="onGridReady($event)">
  </ag-grid-angular>
  
